{{!< default}}
<div class="container">
  <div class="row">
    <div class="col-6-md col-6-lg">
      <div class="left-text">
        <span class="hero-heading">Hey, i'm Damjan</span>
          <h3 class="hero-text">A web designer and developer 
              from Southampton, UK. 
              I create bespoke websites 
              that help businesses get 
              more customers and look 
              better online.
          </h3>
          <button class="button-view-more">View more...</button>
      </div>
    </div>
  </div>
</div>