{{!< default}}
<div class="homepage-wrapper">
  <div class="hero-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-6">
          <div class="left-text">
            <span class="hero-heading">Hey, i'm Damjan</span>
              <h3 class="hero-text">A web designer and developer 
                  from Southampton, UK. 
                  I create bespoke websites 
                  that help businesses get 
                  more customers and look 
                  better online.
              </h3>
              <button class="button-view-more">View more...</button>
          </div>
        </div>
        <div class="col-md-6 col-md-6">
            <div class="portfolio-wrapper">
              <div class="portfolio-heading">Portfolio Project</div>
              <div class="card">
                <div class="img-container">
                  <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="Avatar" style="width:60%">
                </div>
                <div class="card-container">
                  <h4 class="card-header">Project: Sequence.js</h4> 
                  <p class="card-text">Sequence.js is a responsive animation framework for creating step-based applications such as sliders, presentations, and banners. In 2012...</p>
                  <p class="technologies-used">node.js react mongoDb</p> 
                </div>
              </div>
            </div>
          </div>
          <button class="portoflio-view-more">View Portfolio <i class="fa fa-arrow-down arrow-down-icon"></i> </button>
      </div>
    </div>
  </div>
  
<div class="grid-container">
  <div class="grid-item">
    <h2>Project: Sequence.js</h2>
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" title="technologies used: node.js react mongoDb"  alt="technologies used: node.js react mongoDb">
    <p class="technologies-used"></p>
  </div>
  <div class="grid-item">
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="">
  </div>
  <div class="grid-item">
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="">
  </div>
  <div class="grid-item">
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="">
  </div>
  <div class="grid-item">
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="">
  </div>
  <div class="grid-item">
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="">
  </div>
  <div class="grid-item">
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="">
  </div>
  <div class="grid-item">
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="">
  </div>
  <div class="grid-item">
    <img src="https://png.pngtree.com/element_our/sm/20180716/sm_5b4cb283e4212.png" alt="">
  </div>
</div>

 </div>

 {{!-- <div class="container-fluid">
    <div class="row">
      <div class="project">
        <div class="card" >
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="card" >
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="card" >
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div> --}}