#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #727070;
}

.hero-heading { 
  font-style: italic;
  font-weight: 100;
  font-size: 6rem;
}
.left-text {
  padding: 10rem;
  padding-top: 5rem;
  text-align: center;
  margin-left:-7rem;
  padding-right: 70rem;
  letter-spacing: 0.3rem;
}

.hero-text {
  line-height: 170%;
  letter-spacing: 0.3rem;
  font-weight: 300;
  
}

.button-view-more {
  margin-top: 5rem;
  border: none;
  padding: 1.5rem;
  padding-right: 5rem;
  padding-left: 5rem;
  border: 1px solid #727070;
  border-radius: 25px;
  font-size:2rem;
}

.button-view-more:hover {
  background: #727070;
  color: white;
}